@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/cocogoose_pro_light-trial-webfont.woff2")
      format("woff2"),
    url("fonts/cocogoose/cocogoose_pro_light-trial-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/cocogoose_pro_semilight-trial-webfont.woff2")
      format("woff2"),
    url("fonts/cocogoose/cocogoose_pro_semilight-trial-webfont.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "cocogoose";
  src: url("fonts/cocogoose/cocogoose_pro-trial-webfont.woff2") format("woff2"),
    url("fonts/cocogoose/cocogoose_pro-trial-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-primary: #272a31;
  --color-secondary: #ec5242;
  --color-accent: #d3d3d3;
  --font-headings: "Lato", sans-serif;
  --alternate-font: "Spartan", sans-serif;
  --white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Lato, sans-serif;
}

/* Heaer Section */

.page-heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-primary);
  height: 30px;
  top: 0;
  width: 100%;
  z-index: 30;
  padding-right: 15rem;
}

.fa-facebook-f,
.fa-twitter {
  color: var(--white);
  font-size: 1.4rem;
  padding-right: 1.5rem;
}

.heading-label {
  color: var(--white);
  padding-right: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  top: 3rem;
  height: 60px;
  width: 100%;
  z-index: 30;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.logo-img {
  height: 46px;
  width: 110px;
  object-fit: contain;
  margin-top: 0.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  padding-right: 4rem;
  font-size: 1.2rem;
  color: var(--color-primary);
  transition: all 0.5s;
}

.nav-items li a:hover {
  color: var(--color-secondary);
}

.btn {
  border: 4px solid var(--color-secondary);
  color: var(--color-secondary);
  background: transparent;
  padding: 0.7rem 1rem;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: #272a31;
  color: #ebc934;
}

i#openBtn,
i#closeBtn {
  display: none;
}

/* Headline-Section */
.main-header {
  font-family: var(--alternate-font);
  background: url("../images/desktop.png");
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: 150%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.about-header {
  font-size: 3rem;
  font-weight: 800;
  color: #ec240d;
  margin-top: 5rem;
}

.text {
  display: none;
}

.header-para {
  background-color: #fff;
  margin: 2rem 25rem;
  line-height: 2;
}

.about-email {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 3rem;
}

.about-section {
  text-align: center;
  justify-content: center;
  padding: 3rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.logo-heading {
  font-size: 2rem;
}

.about-para {
  margin: 2rem 25rem;
  font-size: 1.1rem;
  color: var(--color-primary);
}

hr {
  margin: 1rem auto;
  width: 30px;
  border: 1px solid #ec240d;
}

.about-logo {
  width: 250px;
  height: 150px;
  border: 1px solid #d3d3d3;
  padding: 3rem 3rem;
}

.fashion-img {
  width: 300px;
  height: 200px;
  margin: 2rem 1rem;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 4rem;
}

.fashion-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  position: relative;
}

.blend {
  background: #e53f2d95;
  width: 300px;
  height: 200px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.3rem;
  top: 9%;
  left: 3%;
}

.blend h2 {
  color: var(--body-color);
  font-size: 3.5rem;
}

.blend p {
  color: var(--body-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1.5rem 0 1.5rem 0;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  gap: 2rem;
  text-align: left;
  background: var(--color-primary);
}

.copyright-img {
  width: 20px;
  height: 20px;
}

.footer-para {
  font-family: var(--alternate-font);
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

.footer-descr {
  align-items: center;
  justify-content: center;
  color: var(--color-accent);
}

.footer-section span {
  color: var(--color-accent);
}

/* Mobile-Version */
@media screen and (max-width: 768px) {
  .page-heading {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: flex-start;
    background: transparent;
    position: absolute;
    top: 0;
    margin-top: 0;
    box-shadow: none;
  }

  .logo-img {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    background: #ec5342ec;
    height: 100vh;
    width: 200px;
    left: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .nav-items {
    flex-direction: column;
    padding-top: 5rem;
    line-height: 5rem;
    letter-spacing: 1.5px;
  }

  .nav-items li a {
    font-size: 2rem;
    color: rgb(225, 225, 225);
  }

  .nav-items li a:hover {
    color: #ebc934;
  }

  .btn {
    display: flex;
    justify-content: center;
    color: rgb(225, 225, 225);
    border: 2px solid rgb(225, 225, 225);
    padding: 1rem 2rem;
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }

  i#openBtn,
  i#closeBtn {
    display: block;
  }

  .fa-times {
    display: block;
    color: var(--color-primary);
    position: absolute;
    left: 1rem;
    font-size: 2rem;
    margin: 1.2rem;
  }

  .fa-bars {
    display: block;
    color: var(--color-primary);
    font-size: 3rem;
    position: absolute;
    left: 2.3rem;
  }

  /* Headline-section */
  .main-header {
    height: 90vh;
    background-image: url(../images/mobile.png);
  }

  .text {
    display: block;
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
    margin: 60px -2px;
    color: var(--color-secondary);
  }

  .logo-section {
    margin-top: 0.3rem 0;
  }

  .about-header {
    font-size: 2.5rem;
    font-weight: 800;
    color: #ec240d;
    margin-top: 2rem;
  }

  .header-para {
    margin: 2rem 3rem;
  }

  /* Logo-Section */
  .about-para {
    margin: 0 5rem;
  }

  .about-logo {
    margin-top: 2.5rem;
  }

  .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
}
